@import url('https://fonts.cdnfonts.com/css/kitschy-retro');
@import url('https://fonts.cdnfonts.com/css/gumela');
@import url('https://fonts.cdnfonts.com/css/shizuru');
@import url('https://fonts.cdnfonts.com/css/big-ten');

// font
$main-font-family: 'Gumela';
// $title-font-family: 'Kitschy Retro', sans-serif;
// $title-font-family: 'Shizuru', sans-serif;
$title-font-family: 'Big Ten', sans-serif;

// border
$test       : 2px solid black;
$test1      : 2px solid red;
$test2      : 2px solid blue;
$test3      : 2px solid green;