@import '../styles/_variables.scss';

.control {
  border: $test2;
  height: 70vh;
  width: 80%;
  margin: auto;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .box {
    width: 200px;
    height: 50px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .bar {
      width: 200px;
    }

    .btn-volume {
      @include g-button;

      height: 2.5rem;
      width: 3.1rem;
      position: relative;

      color: $main-font-color;
      background-color: $main-btn-color;
      font-weight: bold;
      font-size: 1.3rem;

      .diag-line-show {
        display: inline-block;
        position: absolute;
        top: 1rem;
        left: 0rem;
        height: 0rem;
        width: 2.4rem;
        border-bottom: 3px solid $diag-line-color;
        transform: rotate(45deg);
      }

      .diag-line-hidden {
        display: none;
      }
    }
    
  }

  .help-btn {
    @include g-button;

    height: 2.5rem;
    width: 2.5rem;

    color: $main-font-color;
    background-color: $main-btn-color;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
.help {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
}
.help > * {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

@media screen and (max-width: 800px) {
  .control {
    height: 30vh;
    min-height: 200px;
    margin: auto;
    padding-top: 10%;
  
    .box {
      width: 200px;
      height: 50px;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      .bar {
        width: 200px;
      }
    }
  }
}