@import '../styles/_variables.scss';

.hangman {
  min-height: 300px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;

  .fix-hang {
    margin-top: 1rem;
    position: absolute;
    width: 180px;
    height: 250px;
    // min-height: 250px;
  }

  circle,
  line {
  stroke-width: 1px;
  stroke-linecap:round;
  fill: transparent;
}
.hanger {
  stroke: $main-btn-color;
  stroke-width: 4px;
  }
.dead-man {
  stroke: red;
  stroke-width: 3px;
  }
.saved-man {
  stroke: green;
  stroke-width: 3px;
  }
}

@media screen and (max-width: 800px) {
  .hangman {
    min-height: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  .hangman {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 0;
    
    .fix-hang {
      margin-top: 1rem;
      position: absolute;
      width: 120px;
      height: 200px;
    }
    .fix-hang > * {
      transform: scale(0.7);
    }
  }
}