@import '../styles/_variables.scss';

.hangman {
  border: $test2;
  height: 100%;
  width: 100%;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .fix-hang {
    border: $test;
    position: absolute;
    width: 80%;
    height: 80%;
  }

  circle,
  line {
  stroke-width: 1px;
  stroke-linecap:round;
  fill: transparent;
}
.hanger {
  stroke: $main-btn-color;
  stroke-width: 4px;
  }
.dead-man {
  stroke: red;
  stroke-width: 3px;
  }
.saved-man {
  stroke: green;
  stroke-width: 3px;
  }
}