@import '../styles/_variables.scss';

.hangman {
  border: $test2;
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .fix-hang {
    border: $test;
    position: absolute;
    width: 80%;
    height: 65%;
    min-height: 250px;
  }

  circle,
  line {
  stroke-width: 1px;
  stroke-linecap:round;
  fill: transparent;
}
.hanger {
  stroke: $main-btn-color;
  stroke-width: 4px;
  }
.dead-man {
  stroke: red;
  stroke-width: 3px;
  }
.saved-man {
  stroke: green;
  stroke-width: 3px;
  }
}

@media screen and (max-width: 800px) {
  .hangman {
    height: auto;
    min-height: 400px; 
    min-width: 250px;
  
    .fix-hang {
      position: absolute;
      width: 90%;
      height: 90%;
    }
  }
}