@import '../styles/_variables.scss';

.title {
  border: $test2;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .t-title {
    font-family: $title-font-family;
    font-size: 4rem;
    color: white;
  }

  .t-help {
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .title {
    height: 20vh;
    min-height: 140px;
    .t-title {
      font-size: 3rem;
    }
  
    .t-help {
      font-size: 1.5rem;
    }
  }
}