@import '../styles/_variables.scss';

.title {
  min-height: 15vh;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .t-title {
    font-family: $title-font-family;
    font-size: 4rem;
    color: white;
  }

  .t-help {
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .title {
    min-height: 140px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .t-title {
      font-size: 3rem;
    }
  
    .t-help {
      font-size: 1.5rem;
    }
  }
}