@import '../styles/_variables.scss';

.title {
  min-height: 15vh;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;

  .t-title {
    font-family: $title-font-family;
    font-size: 4rem;
  }

  .t-help {
    color: white;
  }
  
  .point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    font-size: 1.5rem;
    top: 30px;
    right: 30px;
  }
  .point > :nth-child(2) {
    color: $main-btn-color;
  }
}

@media screen and (max-width: 800px) {
  .title {
    min-height: 140px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .t-title {
      font-size: 3rem;
    }
  
    .t-help {
      font-size: 1.5rem;
    }
    .point {
      font-size: 0.8rem;
      top: 15px;
      right: 15px;
    }
  }
}