@import '../styles/_variables.scss';

.win-lose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5rem;
  white-space: nowrap;

  .saved-statement {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .modal-btn {
    @include g-button;
    margin-top: 1.5rem;

    height: 3rem;
    // width: 10rem;
    padding: 2rem;
    position: relative;
    white-space: nowrap;

    color: #fff;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 15px 30px 15px 30px;
  }
}