@import "./styles/variables.scss";

.app {
  // border: $test;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 30% 70%;
  background-color: $app-background-color;
  position: relative;

  .a-title {
    grid-column: 1 / 4;
    grid-row: 1;
    border: $test3;
    height: 100%;
    width: 100%;
  }
  .a-hangman {
    grid-column: 1;
    grid-row: 2;
    border: $test1;
    // height: 100%;
    // width: 100%;
  }
  .a-word {
    grid-column: 2;
    grid-row: 2;
    border: $test1;
    height: 100%;
    width: 100%;
  }
  .a-control {
    grid-column: 3;
    grid-row: 2;
    border: $test1;
    height: 100%;
    width: 100%;
  }
}

.a-modal {
  // border: 0.5px solid LightSlateGray;
  background-color: $app-background-color;
  border-radius: 20px 60px 20px 60px;
  padding: 2em;
  min-width: 30%;
  z-index: 2000;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .app {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: 20% 60% 20%;
    background-color: $app-background-color;
    position: relative;
  
    .a-title {
      grid-column: 1 / 4;
      grid-row: 1;
      border: $test3;
      height: 100%;
      width: 100%;
    }
    .a-hangman {
      border: $test1;
      grid-column: 1;
      grid-row: 2;
      // height: 100%;
      // width: 100%;
    }
    .a-word {
      grid-column: 2;
      grid-row: 2 / 4;
      border: $test1;
      height: 100%;
      width: 100%;
    }
    .a-control {
      grid-column: 1;
      grid-row: 3;
      border: $test1;
      height: 100%;
      width: 100%;
    }
  }
}